<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"> -->
  <head>
    <title>Kaatokerho</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      type="text/css"
      rel="stylesheet"
      href="css/bootstrap.rtl.min.css"
      th:href="@{css/bootstrap.rtl.min.css}"
    />
  </head>
  <body>
    <div>
        <h1>Tervetuloa Internetin ytimeen - Kaatokerho Online</h1>
        <p>Kaatokerho on turkulainen, vuonna 2006 perustettu varhaiskeski-ikäisten miesten keilailusarja,
            jossa leikkimielisyys, huumori ja kilpailullisuus kättelevät sopusuhtaisesti. Keilauskausi koostuu
            kolmestatoista kilpailusta, eli GP:stä, ja kauden päätteeksi eniten GP-sijoituksesta pisteitä kerännyt
            kerholainen palkiaan mestaruuspokaali Kollilla. Keilailun lisäksi Kaatokerho on ollut mukana turkulaisessa
            harrastejalkapallossa meineikkaana Kuntoliiga- ja Viking Line Hotsal-joukkueena. Tämän lisäksi "Kerho"
            ottaa suunnilleen vuosittain mittaa tamperelaisesta Kauniiden uintiryhmästä spektaakkelinomaisessa
            sekauintiviestissä. Kaatokerho muistetaan myös jo nyt historiallisista seinäkalentereistaan sekä
            kielenvievistä Ravintolapäiväkattauksistaan, jotka poikivat hyväntekeväisyyshengessä pariin
            turkulaiseen päiväkotiin aimo annoksen liikuntavälineitä.
            <br />
            Tälle sivustolle päivitämme Kaatokerhon keilailusarjan viralliset tilastot sekä kunkin kauden
            voimassa olevan kilpailukalenterin.
        </p>
    </div>
  </body>
</html>
